.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #4b4b4b;
  color: #ffffff;
  font-size: 1.2rem;

  .logoIcon {
    margin-right: 0.5rem;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #ffc14d;
    }
  }

  .navigation {
    display: flex;
    align-items: center;

    .navLink {
      margin-left: 1.5rem;
      transition: color 0.2s ease-in-out;
      font-size: 1.4rem;

      &:hover {
        color: #ffc14d;
      }
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;

    &:hover {
      .dropdownContent {
        display: block;
      }
    }
  }

  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    width: 6rem;
    padding-block-start: 1rem;
    background-clip: content-box;
    font-size: 1.2rem;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    & > li {
      padding: 0.5rem 1rem;

      &:hover {
        background-color: #f1f1f1;
      }
    }

    & > li.dropdown {
      position: relative;

      &:hover {
        .dropdownContent {
          display: block;
        }
      }
    }

    & > li.dropdown .dropdownContent {
      left: 100%;
      top: 0;
    }
  }
}
